@*using Microsoft.AspNetCore.Authorization*@
@model IEnumerable<StoreCursoMod165.Models.Category>


<h1>@SharedLocalizer["Categories"]</h1>

<p>
    <a asp-action="Create">@SharedLocalizer["Create New Category"]</a>
</p>

@(
Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(category => category.Name).Titled(@SharedLocalizer["Name"]);
            columns.Add(category => category.Description).Titled(@SharedLocalizer["Description"]);


            columns.Add(category =>
              Html.ActionLink(SharedLocalizer["Edit"].Value, "Edit", new { id = category.ID }, new { @class = "btn btn-primary" }));
            columns.Add(category =>
                Html.ActionLink(SharedLocalizer["Delete"].Value, "Delete", new { id = category.ID }, new { @class = "btn btn-primary" }));

        })
        .Filterable()
        .Sortable()

)