@*using Microsoft.AspNetCore.Authorization*@
@model IEnumerable<StoreCursoMod165.Models.Order>


<h1>@SharedLocalizer["Orders Per Pay"]</h1>

<p>
    <a asp-action="Index" class="btn btn-primary">@SharedLocalizer["Back to All Orders"]</a>
</p>

@(
Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(order => order.Number).Titled(SharedLocalizer["Order º"]);
            columns.Add(order => order.Date).Titled(SharedLocalizer["Date"]).Formatted("{0:dd-MMM-yyyy}")
                                                            .Filterable(GridFilterType.Double);
            columns.Add(order => order.Time).Titled(SharedLocalizer["Time"]).Formatted("{0:t}");
            columns.Add(order => order.Customer.Name).Titled(SharedLocalizer["Customer"]);
            columns.Add(order => order.Product.Description).Titled(SharedLocalizer["Product"]);
            columns.Add(order => order.Informations).Titled(SharedLocalizer["Informations"]);
            columns.Add(order => order.Quantity).Titled(SharedLocalizer["Quantity"]);
            columns.Add(order => order.TotalValue).Titled(SharedLocalizer["Total Value"]);
            columns.Add(order => order.Status.NameofStatus).Titled(SharedLocalizer["Status"]);
            columns.Add(ap => ap.IsPaid).Titled(SharedLocalizer["IsPaid"])
           .RenderedAs(ap => (ap.IsPaid == true ? SharedLocalizer["Yes"] : SharedLocalizer["No"]))
                   .UsingFilterOptions(new[]
                   {
                      new SelectListItem{Value="true",Text=SharedLocalizer["Yes"].Value},
                      new SelectListItem{Value="false",Text=SharedLocalizer["No"].Value}

                   });
            columns.Add(order =>
              Html.ActionLink(SharedLocalizer["Edit"].Value, "Edit", new { id = order.ID }, new { @class = "btn btn-primary" }));
            columns.Add(order =>
Html.ActionLink(SharedLocalizer["Delete"].Value, "Delete", new { id = order.ID }, new { @class = "btn btn-primary" }));
            columns.Add(order =>
              Html.ActionLink(SharedLocalizer["See All Orders"].Value, "SeeOrders", new { id = order.CustomerID }, new { @class = "btn btn-primary" }));

        })
        .Filterable()
        .Sortable()




)

<thead>
    <tr>
        <th>
            @SharedLocalizer["Total UnPaid: "]
        </th>
    </tr>
</thead>

<p><strong>@ViewBag.TotalPor € </strong></p>