@model IEnumerable<StoreCursoMod165.Models.Order>


<h1>Orders by Customer</h1>

<p>
    <a asp-action="Create">Create New Order</a>
</p>

<thead>
   <tr>
     <th>
         Customer Name:
     </th>
   </tr>
</thead>

<p><strong>@ViewBag.Name</strong></p>

    
<h1></h1>

@(
Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(order => order.Number).Titled(SharedLocalizer["Order º"]);
        columns.Add(order => order.Date).Titled(SharedLocalizer["Date"]).Formatted("{0:dd-MMM-yyyy}")
                                                        .Filterable(GridFilterType.Double);
            columns.Add(order => order.Time).Titled(SharedLocalizer["Time"]).Formatted("{0:t}");
            columns.Add(order => order.Customer.Name).Titled(SharedLocalizer["Customer"]);
            columns.Add(order => order.Product.Description).Titled(SharedLocalizer["Product"]);
            columns.Add(order => order.Informations).Titled(SharedLocalizer["Informations"]);
            columns.Add(order => order.Quantity).Titled(SharedLocalizer["Quantity"]);
            columns.Add(order => order.TotalValue).Titled(SharedLocalizer["Total Value"]);
            columns.Add(order => SharedLocalizer[order.Status.NameofStatus]).Titled(SharedLocalizer["Status"]);
            columns.Add(ap => ap.IsPaid).Titled(SharedLocalizer["IsPaid"])
           .RenderedAs(ap => (ap.IsPaid == true ? SharedLocalizer["Yes"] : SharedLocalizer["No"]))
                   .UsingFilterOptions(new[]
                   {
                      new SelectListItem{Value="true",Text=SharedLocalizer["Yes"].Value},
                      new SelectListItem{Value="false",Text=SharedLocalizer["No"].Value}

                   });

        })
        .Filterable()
        .Sortable()
        .Pageable()
        )

<thead>
    <tr>
        <th>
            Total Paid:
        </th>
    </tr>
</thead>

<p><strong>@ViewBag.TotalPaid €</strong></p>

<thead>
    <tr>
        <th>
            Total UnPaid:
        </th>
    </tr>
</thead>

<p><strong>@ViewBag.TotalPor € </strong></p>

<thead>
    <tr>
        <th>
            Current Balance:
        </th>
    </tr>
</thead>

<p><strong>@ViewBag.Soma € </strong></p>
