@*using Microsoft.AspNetCore.Authorization*@
@model IEnumerable<StoreCursoMod165.Models.Product>


<h1>@SharedLocalizer["Products"]</h1>

<p>
    <a asp-action="Create">@SharedLocalizer["Create New Product"]</a>
</p>


@(
Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(category => category.Description).Titled(@SharedLocalizer["Description"]);
            columns.Add(category => category.Price).Titled(@SharedLocalizer["Price"]);
            columns.Add(category => category.Weight).Titled(@SharedLocalizer["Weight"]);
            columns.Add(category => category.Quantity).Titled(@SharedLocalizer["Quantity"]);
            columns.Add(category => category.Category.Name).Titled(@SharedLocalizer["Category"]);


            columns.Add(category =>
              Html.ActionLink(SharedLocalizer["Edit"].Value, "Edit", new { id = category.ID }, new { @class = "btn btn-primary" }));
            columns.Add(category =>
                Html.ActionLink(SharedLocalizer["Delete"].Value, "Delete", new { id = category.ID }, new { @class = "btn btn-primary" }));

        })
        .Filterable()
        .Sortable()
        )