@*using Microsoft.AspNetCore.Authorization*@
@model IEnumerable<StoreCursoMod165.Models.Customer>


<h1>@SharedLocalizer["Customers"]</h1>

<p>
    <a asp-action="Create">@SharedLocalizer["Create New Customer"]</a>
</p>

@(
Html
        .Grid(Model)
        .Build(columns =>
        {
            columns.Add(customer => customer.Name).Titled(@SharedLocalizer["Name"]);
            columns.Add(customer => customer.Email).Titled(@SharedLocalizer["E-mail"]);
            columns.Add(customer => customer.Birthday).Titled(@SharedLocalizer["Birthday"]);
            columns.Add(customer => customer.Address).Titled(@SharedLocalizer["Address"]);
            columns.Add(customer => customer.City).Titled(@SharedLocalizer["City"]);
            columns.Add(customer => customer.PostalCode).Titled(@SharedLocalizer["PostalCode"]);
            columns.Add(customer => customer.NIF).Titled(@SharedLocalizer["Fiscal Number"]);
            columns.Add(customer => customer.CustomerNumber).Titled(@SharedLocalizer["Custumer Number"]);


            columns.Add(customer =>
              Html.ActionLink(SharedLocalizer["Edit"].Value, "Edit" , new { id = customer.ID }, new { @class = "btn btn-primary" }));
            columns.Add(customer => Html.ActionLink(SharedLocalizer["Delete"].Value, "Delete", new { id = customer.ID }, new { @class = "btn btn-primary" }));

        })
        .Filterable()
        .Sortable()

)